.about-container {
    padding: 20px;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* background-color: azure; */
}

.about-card {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    /* flex-wrap: wrap; */
}

.about-description {
    background-color: rgba(206, 206, 206, 0.356);
    padding: 20px 15px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-description h1 {
    margin-bottom: 10px;
    width: 800px;
    font-size: 40px;
    text-align: left;
}

.about-description p {
    font-size: 20px;
    font-weight: 400;
}

.about-title {
    font-weight: 800;
}

.about-title span {
    color: #dc2626;
}

.img img{
    width: 700px;
    height: 300px;
    border-radius: 30px;
    margin-top: 30px;
    object-fit: cover;
}

.about-stats {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.features-and-tech {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.side {
    border-radius: 30px;
    padding: 15px 20px;
    width: 250px;
    background-color: rgb(0, 0, 0);
}

.side h2 {
    color: rgba(255, 255, 255, 0.842);
}

.side ul {
    padding-left: 20px;
}

.side ul li {
    font-size: 20px;
    list-style-type: circle;
    line-height: 1.7;
    color: rgba(243, 243, 243, 0.911);
    font-weight: lighter;
}

.mission {
    background-color: #303030;
    padding: 20px 30px;
    border-radius: 30px;
}

.mission h2 {
    font-size: 45px;
    color: rgba(255, 255, 255, 0.911);
}

.mission p {
    font-size: 20px;
    line-height: 1.9;
    color: white;
}

.mission-last-para {
    /* border-bottom: white 1px solid; */
    margin-bottom: 20px;
}

.mission-note {
    font-size: 15px;
    color: rgb(223, 222, 222);
    border-top: white 1px solid;
    padding-top: 2px;
}

.about-description,
.side,
.mission {
    transition: transform 0.3s ease;
}

.about-description:hover,
.side:hover,
.mission:hover {
    transform: translateY(-4px);
}