nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.nav {
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.active {
    font-weight: bold;
    border-bottom: 2px solid #dc2626;
}

.logo {
    font-size: 25px;
}

.logo span {
    color: #dc2626;
}